@model ProjectManagerWeb.ViewModels.Projects.CreateVM
@{
    ViewBag.Title = "CREATE PROJECT";
}
<fieldset>
    <legend>CREATE PROJECT</legend>
    <form action="/Projects/Create" method="post">
        <div class="grid">
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.Title)
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.Title)
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.Description)
                </div>
                <div class="col-2">
                    @Html.TextAreaFor(m => m.Description)
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>      
            <div class="row">
                <div class="col-3">
                    <div class="right">
                        <a href="/Projects/Index">Back</a>
                        <input type="submit" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</fieldset>